/* Element Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {padding: 0;}

main {
    max-width: 700px;
}

aside {
    width: 30rem;
    margin: 1rem;
    border: 1px solid blueviolet;
    padding: 1rem;
    background-color: antiquewhite;
    color: blueviolet;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: relative;
    top: 70px;

}

footer {
    margin-top: 20px;
    border-top: 2px;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid powderblue;
    padding: 1rem;
    background-color: orange;
    color: #000;
}